.notes{
    block-size: 100%;
}
.notes__header{
    margin-block-end: 20px;
    flex-grow: 1;
}
.notes__title{
    padding-block:13px;
    color:rgb(118, 124, 129);
}
.notes__count{
    font-size: 1.2rem;
    color:rgb(97, 103, 108);
    text-align: left;
}
.notes__header-divider{
    inline-size: 100%;
    padding-block: 0.5px;
    background-color: rgba(186, 194, 201, 0.507);
}
.notes__wrapper{
    display:grid;
    gap:20px;
    grid-template-columns: repeat(auto-fit,minmax(250px,min(1fr,300px)));
    grid-auto-rows: 240px;
    flex-grow: 20;
}
.notes__loader-ctn{
    block-size: 100%;
    inline-size: 100%;
}
.notes__loader{
    block-size: 5rem;
}
.notes__loader-bar{
    inline-size: 0.7rem;
    block-size: 100%;
    background-color: rgb(80, 80, 80);
    animation: loading-anim 1.0s linear infinite;
    border-radius:5px;
}
.notes__loader-bar:nth-child(2){
    animation-delay: 0.25s;
}
.notes__loader-bar:nth-child(3){
    animation-delay: 0.5s;
}
.notes__message{
    font-size: 2rem;
    color:rgb(136, 142, 147);
    flex-grow: 20;
}
@keyframes loading-anim {
    30%{
        transform: scaleY(1.5);
        background-color: rgb(255, 255, 255);
    }
    70%{
        transform: scaleY(1);        
    }
}